/* Add here all your css styles (customizations) */


.bg_claro{
	background: #FFE3A6;
    color: #ffffff;
}
.bg_escuro{
	background: #574635;
    color: #ffffff;
}
.texto-branco{
    color: #ffffff;
}
.tamanho_56{
	font-size: 56px;
}
.padding-top{
	padding-top: 10px;
}
p .texto_medio{
	font-size: 18px;
}
.borda-verde-clara{
	 border: solid; /*Borda das fotos*/
	border-color: #9ACD32;
}
/*li .active{
	background-color: #32CD32;
}*/
.texto_serviços{
	font-family: verdanna;
	color: #619640;
	font-size:16;
	font-weight: bold;
}
.borda-bot-verde-clara{
	padding-bottom: 5px;
	border-bottom: solid; /*Borda das fotos*/
	border-color: #9ACD32;
}
.fundo-escuro-texo-banner{
	background:url(../plugins/parallax-slider/img/bg-text.png) repeat;
	font-style:normal;
	padding:40px;
	/*padding-top:40px;*/
}
/* Imagnes de Funco*/
.bg_contato{
	background:url(../../assets/img/bg_contato.png) repeat;
	width:100%;
	height:800px;
	background-size: 100%;
}
.bg_home{
	background:url(../../assets/img/bg_home.jpg) repeat;
	width:100%;
	height:800px;
	background-size: 100%;
}
.logo_menu{
	float:left;
	margin-left:25%;
	margin-right:1%;
	margin-top:10%;
	
}
.logo_menu2{
	float:left;
	margin-top:10%;
	
}
.div_texto{
	float:left;
	margin-top:10%;
}
.logo_home{
	margin-left: 28%;
	margin-top: 20px;
	background:url(../../assets/img/logo.png) repeat;
	float:left;
	position: relative;
	
}
.menu_bg{
	margin-top:-100px;
	margin-left: 5%;
	background-color:#FFE3A6;
	border-radius: 40px;
	
}
.menu_texto{
	padding-top: -10px;
	padding-bottom: -10px;
	font-style:bold;
}
