/* Add here all your css styles (customizations) */
.bg_claro{
	background: #FFE3A6;
    color: #ffffff;
}
.bg_escuro{
	background: #574635;
    color: #ffffff;
}
.texto-branco{
    color: #ffffff;
}
.tamanho_56{
	font-size: 56px;
}
.padding-top{
	padding-top: 10px;
}
p .texto_medio{
	font-size: 18px;
}
.borda-verde-clara{
	 border: solid; /*Borda das fotos*/
	border-color: #9ACD32;
}
.texto_serviços{
	font-family: verdanna;
	color: #619640;
	font-size:16;
	font-weight: bold;
}
.borda-bot-verde-clara{
	padding-bottom: 5px;
	border-bottom: solid; /*Borda das fotos*/
	border-color: #9ACD32;
}
.fundo-escuro-texo-banner{
	background:url(../plugins/parallax-slider/img/bg-text.png) no-repeat;
	font-style:normal;
}
/* Imagnes de Fundo*/
.bg_contato{
	background:url(../../assets/img/bg_contato.png) no-repeat;
	height:800px;
	background-size: 100%;
}
.bg_home{
	background:url(../../assets/img/bg_home.jpg) repeat;
	height:800px;
	background-size: 100%;
}
.logo_home{
	margin-left: 30%;
	border-top: 5%;
	padding-top: 1%;
	float:left;
	position: relative;
}
.menu_bg{
	float: left;
	top: auto;
	padding-left: 5%;
	margin-top: -7%;
	width: 100%;
	text-align: left;
	background-color:#FFE3A6;
	border-radius: 40px;
}
.menu_texto{
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
	font-weight: bold;
}
.menu_esquerda{
 padding-left: 10;
 padding-top: 15;
 left: 0;
}
.menu_direita_inicio{
 padding-left: 30%;
 padding-top: 15;
}
.container_menu{
	width: 80%;
	text-align: center;
}